/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the 'License'). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@font-face {
    font-family: Open Sans;
    src: url('OpenSans-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
}

html, ul, #content {
    background: #fff;
    font-family: Open Sans, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
